<div class="col align-items-center" (click) = "showDetails()">
  <span class="text-center">{{pokemon.name}}</span>
  <div class="pokemon-image" [ngStyle]="{'background-image': 'url(' + pokemon.image + ')'}"></div>
</div>
