<div class="row align-content-center centred">
  <pokemon *ngFor="let pokemon of pokemons" [url] = "pokemon.url"></pokemon>
</div>
<button type="button" class="btn btn-outline-primary centred" name="next" (click)= "goToNextPage()">More Pokemons</button>
