<div class="card align-items-center centred" style="width: 18rem;">
  <div class="pokemon-image card-img-top" [ngStyle]="{'background-image': 'url(' + pokemon.backImage + ')'}"></div>
  <div class="card-body ali">
    <h5 class="card-title">Name: {{pokemon.name}}</h5>
    <p class="card-text">
      <span>Height: {{pokemon.height}}</span>
      <span>Weight: {{pokemon.weight}}</span>
    </p>
    <a href="/" class="btn btn-outline-primary">Go back</a>
  </div>
</div>

