.pokemon-image {
  width: 120px;
  height: 120px;
  background-position: center center;
  background-size: contain;
}

span, h5, a{
  display: inline-block;
  text-align: center;
  width: 100%;
}

.centred{
  width: 400px;
  margin: auto;
}
